accelerate==0.32.1
datasets==2.18.0
descript_audio_codec==1.0.0
evaluate==0.4.2
fairseq==0.12.2
ipython==8.12.3
ninja==1.11.1.1
joblib==1.4.2
librosa==0.10.2.post1
npy_append_array==0.9.16
numpy==2.1.0
safetensors==0.4.4
soundfile==0.12.1
torch==2.4.0+cu118
torchaudio==2.4.0+cu118
torchvision==0.19.0+cu118
tqdm==4.66.4
transformers==4.44.2